<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  애플리케이션 구성 파일
  - XML 형식의 구성 정보를 포함하고 있는 파일
  - .NET 애플리케이션의 런타임 설정을 정의
-->
<configuration>
    <!-- 
      애플리케이션 시작 관련 설정
      - 지원하는 .NET 런타임 버전 정보 포함
    -->
    <startup> 
        <!-- 
          지원하는 .NET Framework 런타임 버전 정의
          - 이 애플리케이션은 .NET Framework 4.7.2 버전에서 실행됨
        -->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>